{% extends 'base.html' %}

{% block body %}

    <h1>Please, fill in the data about the house</h1>
    <form method="post" id="form">
        <div class="form-group">
            <label for="area">Area:</label><br>
            <input type="number" name="LotArea" id="LotArea"  class="form-control" placeholder="Area (sq ft)"><br>
            <label for="YearBuilt">Year built:</label><br>
            <input type="number" name="YearBuilt" id="YearBuilt"  class="form-control" placeholder="Year the house is built in"><br>
            <label for="1stFlrSF">1st floor area:</label><br>
            <input type="number" name="1stFlrSF" id="1stFlrSF"  class="form-control" placeholder="First floor area (sq ft)"><br>
            <label for="2ndFlrSF">2st floor area:</label><br>
            <input type="number" name="2ndFlrSF" id="2ndFlrSF"  class="form-control" placeholder="Second floor area (sq ft)"><br>
            <label for="FullBath">Number of bathes:</label><br>
            <select name="FullBath" id="FullBath" form="form">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select><br>
            <label for="OverallCond">Overall condition rating (1-10):</label><br>
            <select name="OverallCond" id="OverallCond" form="form">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select><br>
            <label for="BedroomAbvGr">Number of bedrooms:</label><br>
            <select name="BedroomAbvGr" id="BedroomAbvGr" form="form">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select><br>
            <input type="submit" class="btn btn-success" value="Submit">
        </div>
    </form>

{% endblock %}